*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar {
    display: flex;
    
    justify-content: space-evenly;
    overflow: hidden;
    background-color:rgb(10, 10, 10);
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    
}

.navbar a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    align-items: flex-end;
}

.link:hover{
    background-color:  rgb(117, 83, 146);
}

ul li{
    list-style: none;
}