* {
    margin: 0px;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 30px 40px;
    font-size: 25px;
    color:rgb(180, 0, 0)
}
.span-destaque {
    font-weight: bold;
    font-style: italic;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    
    width: 50%;
    border: none;
    background-color: darkgrey;
    justify-content: center;
}
.campo-form {
    max-width: 100%;
    justify-content: center;
}


label {
    display: block;
    margin: 30px 0 10px 0;
    
}

input textarea select {
    font-size: 18px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 4px;

}

p {
    margin: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color:rgb(172, 0, 0);
    font-weight: bold;
    border-radius: 10px;
    transition: 0.5s all;
    padding: 6px;
    
}

a:hover{
    background-color:rgb(214, 197, 197);
    
}

.span-contato {
    font-weight: bold;
    font-style: italic;
    color: rgb(109, 2, 2)
}

button {
    display: block;
    margin: 30px 0 10px 0;
    padding: 10px 20px;
    background-color:rgb(172, 0, 0);;
    color: rgb(14, 0, 0);
    font-weight: bolder;
    cursor: pointer;
    border: none;
    border-radius: 4px;

}

