* {
    margin: 0px;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 30px 40px;
    font-size: 25px;
}
.span-destaque {
    font-weight: bold;
    font-style: italic;
}

.campo-form {
    max-width: 100%;
}


label {
    display: block;
}

input textarea select {
    font-size: 1.2rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;

}