*{
    margin: 0px;
}

/* body{
    background-color:#fff;
} */

main {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 100%;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 0px;
    color:rgb(180, 0, 0)
}

.card-introducao{
    padding: 2rem 2rem;
    margin: 0 auto;  
    background-color: rgb(252, 248, 244);
    font-size: 20px;
    margin: 50px;
    background-color:rgb(199, 71, 71) ;
    background-image: url("../../assets/transparencia_1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

.p__manifesto {
    width: 20%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    padding: 30px 0 30px 0;
    

}
.img__manifesto {
    display: flex;
    justify-content: center;
}

.img__manifesto img {
    height: 80px;
}



.container-texto-paragrafos {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
    text-align: justify;
}

.container-texto {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
    text-align: justify; 
}

.card-povos{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 80%;
    align-items: center;

} 

.povos{
    background-color: rgba(109, 2, 2, 0.774);
    height: 100px;
    width: 200px;
    border-radius: 10px;
    padding: 8px;
    /*margin: 20px auto;
    width: 50%;
    border-radius: 15px;*/
}

.h2__povos{
    margin: 30px;
    padding: 15px 0 15px 0;
    font-size: 25px;    
    font-weight: bold;
    color: #fff;
    text-align: center;
    
}


.povos p {
    color:rgb(252, 248, 244);
    text-align: justify;
    padding: 0 0 15px 0;
    font-size: 18px    
}

.span__home {
    font-weight: bold;
}


.span-destaque {
    font-weight: bold;
}

.subtitulos {
    font-size: 20px;
}
