*{
    margin: 0px;
}

body{
    background-color: rgb(252, 248, 244);
}

main {
    
    max-height: 100%;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 30px 40px;
    font-size: 25px;
}
.span-destaque {
    font-weight: bold;
    font-style: italic;
}
