* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

#titulo {
    display: flex;
    justify-content: center;
    margin: 30px 40px;
    font-size: 40px;
    
}

.pankararu {
    display:inline-flexbox;
    
    color: black;
    margin: 20px;
    padding: 30px;
    font-size: 30px;
    width: 400px;
}

.teste {
    max-width: 100%;
    margin-top: 30px;
    padding: 30px;
    border-radius: 400px;
}
