* {
    margin: 0px;
}
.card-introducao {
    margin: 0px;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-top: 0;
    /*margin: 30px 40px;*/
    font-size: 25px;
    color:rgb(180, 0, 0)
}

.span-destaque {
    font-weight: bold;
}

.container__artistas {
    width: 70%;
    margin: 0 auto;
    /*display: flex;
    flex-wrap: wrap;
    /*grid-template-columns: 1;*/
    justify-content: center;
    text-align: justify;
    /*margin: 50px;
    background-color: blueviolet;*/
    

}   

.img__artista {
    
    justify-content: center;
    text-align: center;    
    margin-top: 30px;
    border: 4px solid rgb(65, 0, 0);
    box-shadow: 0 0 15px rgb(32, 0, 0);
    border-radius: 400px;
    width: 200px;
    align-items: center;
}
