* {
    margin: 0px;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 30px 40px;
    font-size: 25px;
    color:rgb(180, 0, 0)
}

.p__obras{
    text-align: center;
    margin: auto;
    width: 70%;
}

.span-destaque {
    font-weight: bold;
}

.container__esculturas {
    display: flex;
    flex-wrap: wrap;
    padding: 9% 0% 0% 9%;
    justify-content: center;
    
}

.obras-arte {
    width: 300px;
    height: 400px;
    margin: 10px;
}

.card__esculturas{
    /*display: flex;
    flex-wrap: wrap;*/
    flex-direction: column;
    width: 400px; 
    margin:5%;
}

.esculturas__imagem {
    /*display: flex;*/
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid rgb(65, 0, 0);
    
}



.esculturas h2 {
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    text-align: center;
    margin: 10px;
}



